
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Agenda</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Favicon -->
	<!-- Bootstrap core CSS -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<!-- Fonts  -->
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

	<link href="~/Content/animate.css" rel="stylesheet" />
	<link href="~/Content/main.css" rel="stylesheet" />
	<link href="~/Content/simple-line-icons.css" rel="stylesheet" />
	<!-- Feature detection -->
	<script src="~/Scripts/modernizr-2.6.2.min.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/vendor/html5shiv.js"></script>
	<script src="assets/js/vendor/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<section class="container animated fadeInUp">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="login-wrapper">
					<header>
						<div class="brand">
							<span>Agenda</span>
						</div>
					</header>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Entrar
							</h3>
						</div>
						<div class="panel-body">
							<p> Entre para acessar sua conta.</p>
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-md-12">
										<input type="email" class="form-control" id="email" placeholder="E-mail">
										<i class="fa fa-user"></i>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<input type="password" class="form-control" id="senha" placeholder="Senha">
										<i class="fa fa-lock"></i>
										<a href="javascript:void(0)" class="help-block">Esqueceu sua senha?</a>
									</div>
								</div>
								<div>
									<div class="col-md-12">
										<a href="index.html" class="btn btn-primary btn-block">Entrar</a>
										<hr />
										<a href="pages-sign-up.html" class="btn btn-default btn-block">Não possui cadastro?</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			 
		</div>

	</section>
	<!--Global JS

		procurar os arquivos dentro da pasta do bootstrap.
		copiar o arquivo dentro da pasta do projeto
		incluir o arquivo copiado
		arrastar e soltar o novo arquivo no lugar do arquivo (caminho) velho
		-->
	<script src="~/Scripts/jquery-1.11.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.navgoco.min.js"></script>
	<script src="~/Scripts/pace.min.js"></script>
	<script src="~/Scripts/app.js"></script>
$</body>

</html>
